<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading"><hr></div>
          <a class="nav-link" href="index.html">
            <div class="sb-nav-link-icon"><i class="fa-solid fa-book"></i></div>
            Bookings
          </a>
          <div class="sb-sidenav-menu-heading"><hr></div>
          <%= link_to [current_user], data: { bsToggle: "collapse", bsTarget: "#collapseLayouts"}, class: "nav-link collapsed" do %>
            <i class="fa-solid fa-hand-holding-dollar sb-nav-link-icon"></i>
            <p>Offers</p>
          <% end %>
        </div>
      </div>
    </nav>
  </div>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <div class="card mb-4">
          <div class="card-header">
            <h4><i class="fas fa-table me-1"></i>Bookings</h4>
          </div>
          <div class="card-body">
            <table id="datatablesSimple">
              <thead>
                <tr>
                  <th class="px-3">User</th>
                  <th class="px-3">Game</th>
                  <th class="px-3">Status</th>
                  <th class="px-3">Condition</th>
                  <th class="px-3">Description</th>
                  <th class="px-3">Price</th>
                  <th class="px-3">Start Date</th>
                  <th class="px-3">End Date</th>
                </tr>
              </thead>
              <tbody>
                <% if @bookings %>
                  <% @bookings.each do |booking| %>
                    <tr class="user-link-parent">
                      <td class="px-3"><%= booking.offer.user.name %></td>
                      <td class="px-3"><%= booking.offer.boardgame.name %></td>
                      <td class="px-3"><%= booking.status %></td>
                      <td class="px-3"><%= Offer.find(booking.offer_id).title %></td>
                      <td class="px-3"><%= Offer.find(booking.offer_id).description%></td>
                      <td class="px-3">$<%= booking.total_price %></td>
                      <td class="px-3"><%= booking.start_date.strftime("%d/%m/%Y")%></td>
                      <td class="px-3"><%= booking.end_date.strftime("%d/%m/%Y")%></td>
                      <td><%= link_to "", offer_path(booking.offer_id), class: "user-link" %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-header d-flex justify-content-between">
            <h4>
              <i class="fas fa-table me-1"></i>
              Offers
            </h4>
            <%= link_to "Create Offer", new_offer_path, class: "btn btn-secondary" %>
          </div>
          <div class="card-body">
            <table id="datatablesSimple">
              <thead>
                <tr>
                  <th class="px-3">Pending Offers</th>
                  <th class="px-3">Game</th>
                  <th class="px-3">Condition</th>
                  <th class="px-3">Description</th>
                  <th class="px-3">Price</th>
                </tr>
              </thead>
              <tbody>
                <% if @offers %>
                  <% @offers.each do |offer| %>
                    <tr class="user-link-parent">
                      <td class="px-3"><%= offer.bookings.where("status=0").empty? ? "" : offer.bookings.where("status=0").count %></td>
                      <td class="px-3"><%= offer.boardgame.name %></td>
                      <td class="px-3"><%= offer.title %></td>
                      <td class="px-3"><%= offer.description %></td>
                      <td class="px-3">$<%= offer.price %></td>
                      <td class="px-3"><%= link_to "", offer_path(offer), class: "user-link" %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Boardgame Mania 2024</div>
        </div>
      </div>
    </footer>
  </div>
</div>
