<div class="container-fluid p-0" style="background-color: #e0e0e0;" >
  <div id="carouselExample" class="carousel carousel-home slide board" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-inner" style="height: 100%;">
      <!-- First carousel item -->
      <div class="carousel-home-item carousel-item active">
        <img src="https://media.istockphoto.com/id/1227346902/photo/young-group-of-friends-playing-board-game-on-table-at-home-interior.jpg?s=612x612&w=0&k=20&c=AJ3kp5SNsCsN6DpjuyMhw_b0N85YN4R75q8iuIbrsgw="
             class="d-block w-100" alt="..." style="object-fit: cover;">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>

      <!-- Second carousel item -->
      <div class="carousel-home-item carousel-item">
        <img src="https://media.istockphoto.com/id/503277834/photo/business-people-playing-a-board-game.jpg?s=1024x1024&w=is&k=20&c=yn_IKPA9e2gz8JcTYFZ2vCIR8ECDd9wBSynKRc1T-2w="
             class="d-block w-100" alt="..." style="object-fit: cover;">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>

      <!-- Third carousel item -->
      <div class="carousel-home-item carousel-item">
        <img src="https://images.pexels.com/photos/4691555/pexels-photo-4691555.jpeg"
             class="d-block w-100" alt="..." style="object-fit: cover;">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>

      <!-- Fourth carousel item -->
      <div class="carousel-home-item carousel-item">
        <img src="https://images.unsplash.com/photo-1676651471150-0e3a5f8de05e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGJvYXJkJTIwZ2FtZXN8ZW58MHwwfDB8fHwy"
             class="d-block w-100" alt="..." style="object-fit: cover;">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>

      <p class="text-intro"><strong>Boardgame Mania brings the creative players together</strong>!</p>
      <%= link_to 'Get Started!', boardgames_path, class:"btn btn-lg btn-info get-started-btn" %>
    </div>
  </div>

     <div class="image-gallery">
        <h2>Featured Boardgames</h2>
        <%# <p>Explore some amazing boardgames below!</p> %>
    </div>
  <!-- Section for images at the bottom -->
<div class="image-gallery">
<% @boardgames.limit(6).each do |boardgame| %>
  <%= link_to boardgame_path(boardgame), class: 'text-decoration-none ' do %>
    <div class="card-pick mt-3 bg-light">
      <div>
        <%= image_tag boardgame.thumbnail, alt: "default" %>
      </div>
      <div class="card-pick-info">
          <h5><%= boardgame.name.first(29) %></h5>
        <div class="d-flex card-icons gap-4 align-bottom">
          <div>
            <i class="fa-solid fa-people-group align-middle"></i>
            <span>
              <%=boardgame.player_count%>
            </span>
          </div>
          <div class="mx-auto">
            <i class="fa-solid fa-list align-middle"></i>
            <span>
              <%=boardgame.category%>
            </span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
  <%
=begin%>
 <img src="https://cf.geekdo-images.com/W3Bsga_uLP9kO91gZ7H8yw__imagepage/img/M_3Vg1j2HlNgkv7PL2xl2BJE2bw=/fit-in/900x600/filters:no_upscale():strip_icc()/pic2419375.jpg"
       alt="Image 1" class="img-thumbnail-home">
  <img src="https://cf.geekdo-images.com/wg9oOLcsKvDesSUdZQ4rxw__imagepage/img/FS1RE8Ue6nk1pNbPI3l-OSapQGc=/fit-in/900x600/filters:no_upscale():strip_icc()/pic3536616.jpg"
       alt="Image 2" class="img-thumbnail-home">
  <img src="https://cf.geekdo-images.com/N_5Dz0GeI5dGBzSrBMEqrg__imagepage/img/CIgc9B3SH9T1YoLLemmZF11fupQ=/fit-in/900x600/filters:no_upscale():strip_icc()/pic7336034.jpg"
       alt="Image 3" class="img-thumbnail-home">
  <img src="https://cf.geekdo-images.com/B5F5ulz0UivNgrI9Ky0euA__imagepage/img/tgpLRvv6AIsClnegErNpAoieeMo=/fit-in/900x600/filters:no_upscale():strip_icc()/pic3122349.jpg"
       alt="Image 4" class="img-thumbnail-home">
  <img src="https://cf.geekdo-images.com/3ue_3La0WYopTSDER3shUA__imagepage/img/e1uGml9kk6uozJlKGs6LkAOB_wU=/fit-in/900x600/filters:no_upscale():strip_icc()/pic8389014.jpg"
       alt="Image 5" class="img-thumbnail-home">
  <img src="https://cf.geekdo-images.com/VXhn4fqu0Dm5WFZ0Pp3tfQ__imagepage/img/_VJMgfvMfZgzQEr1E2kwXzZzpos=/fit-in/900x600/filters:no_upscale():strip_icc()/pic7947832.jpg"
       alt="Image 6" class="img-thumbnail-home">
  <img src="https://cf.geekdo-images.com/n3gYugbvd_LHVynDhfoVbw__imagepage/img/oXSEvUzI_l_lZmIJnGo7ikuX-CY=/fit-in/900x600/filters:no_upscale():strip_icc()/pic7334483.jpg"
       alt="Image 7" class="img-thumbnail-home">
  <%# <img src="https://cf.geekdo-images.com/EybxJlUc9rz7F7HVFLqsdw__imagepage/img/MwWN78LRcNAmP9wFrEsbuufPrRE=/fit-in/900x600/filters:no_upscale():strip_icc()/pic8378939.jpg"
       alt="Image 8" class="img-thumbnail-home"> %>
<%
=end%>

</div>


</div>
