<div class="container text-center">
  <h1 class="my-5"><%= @offer.title %></h1>
  <div class="row">
    <div class="col">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
        <% @offer.photos.each do |photo| %>
              <div class="carousel-item active">
                <%= cl_image_tag photo.key, class: "d-block w-100", alt: "..." %>
              </div>
        <% end %>
          </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <%= @offer.user.name %>
    </div>
    <div class="col">
      <%= simple_form_for [@user, @offer] do |f| %>
        <%= f.input :start_date %>
      <% end %>
    </div>
  </div>
</div>
