<div class="container ">
  <h1 class="my-3 text-center"><%= @offer.boardgame.name %></h1>
  <div class="row">
    <div class="col col-8">
      <div id="carouselExampleControls" class="carousel slide w-100 rounded shadow-sm m-0" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% @offer.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= index == 0 ? "active" : "" %>">
              <%= cl_image_tag photo.key, class: "d-block w-100", alt: "..." %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="my-5 text-left">
        <h3><%= @offer.user.name %>'s boardgame!</h3>
      </div>
      <div class="my-5 text-left">
        <h4>Condition:</h4>
        <p><%= @offer.title %></p>
      </div>
    </div>
    <div class="col col-4 mt-0">
      <div data-controller="booking-price" data-booking-price-price-value="<%= @offer.price %>" class="booking-box text-center text-light shadow-sm p-3 mb-2 mt-0 rounded bg-gradient">
        <h2>Make a Booking!</h2>
        <%= simple_form_for [@offer, @booking], data: {controller: 'datepicker', class: "d-flex flex-column"} do |f| %>
          <p>Start Date: <%= f.input :start_date, html5: true, input_html: { data: { booking_price_target: 'start_date', action: 'change->booking-price#update' }, class: 'rental-date', min: Date.today } %> </p>
          <p>End Date: <%= f.input :end_date, html5: true, input_html: { data: { booking_price_target: 'end_date', action: 'change->booking-price#update' }, class: 'rental-date', min: Date.today }%> </p>
          <p  class="fs-3">Price: $<span class='fw-bold' data-booking-price-target='price'></span></p>
          <%= f.submit "Book Now", class: "btn btn-warning bg-gradient" %>
        <% end %>
      </div>
      <div class="m-3">
        <h1>Reviews</h1>
        <% @reviews.each do |review| %>
          <p>
            <%= review.description%> -
            <% review.rating.times do %>
              <i class="fa-solid fa-star"></i>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
