<div class="container">
  <!-- Search Form  Steve's add-->
  <div div data-controller="refresh-list">
    <div class="d-flex justify-content-left gap-2">
      <%= form_with url: boardgames_path, method: :get, html: { class: '', data: { refresh_list_target: 'form' } } do |f| %>
        <%= f.text_field :query,
        class: "form-control",
        placeholder: 'Type something here...',
        value: params[:query],
        data: {
        refresh_list_target: 'searchInput',
        action: "keyup->refresh-list#update"
      } %>
        <button type="submit" id="search-btn" class="btn">
          <i class="fas fa-search"></i>
        </button>
        <%= link_to boardgames_path, class: "btn btn-warning gap-1" do %>
          <i class="fas fa-times"></i> Clear
        <% end %>
      <% end %>
    </div>
  </form>
  <div data-refresh-list-target="list" class="cards">
    <% @boardgames.each do |boardgame| %>
      <%= link_to boardgame_path(boardgame), class: 'text-decoration-none ' do %>
        <div class="card-pick mt-3 bg-light">
          <%= image_tag boardgame.thumbnail, alt: "default" %>
          <div class="card-pick-info">
            <h5><%= boardgame.name.first(39) %></h5>
            <p><%= boardgame.category %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>
