<div class="d-flex p-0 m-0 w-100">
  <div class="col-3 bg-secondary bg-gradient text-white p-4 m-0">
    <h2 class="text-center fw-light"><%=@boardgame.name%></h2>
    <ul class="list-unstyled">
      <li><%= image_tag @boardgame.poster, alt: "Poster", width: "100%" %></li>
      <li><span class="cat-title">category:</span class="cat-title"> <%=@boardgame.category%></li>
      <li><span class="cat-title">number of players:</span class="cat-title"> <%=@boardgame.player_count%></li>
      <li><span class="cat-title">description:</span class="cat-title"> <%=@boardgame.description%></li>
    </ul>
  </div>
  <div class="py-4 col-9 overflow-auto vh-100 m-0">
    <h2 class="text-center">Current Boardgame Rental Offers</h2>
    <table class="table w-100 m-0">
      <thead>
        <tr>
          <th class="px-4" scope="col">#</th>
          <th class="px-4" scope="col">Title</th>
          <th class="px-4" scope="col">Description</th>
          <th class="px-4" scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <%@boardgame.offers.each_with_index do |offer, index|%>
          <tr class= "offer-link-parent">
            <td class="px-4" scope="row"><%= index + 1%></td>
            <td class="px-4"><%= offer.title%></td>
            <td class="px-4"><%= offer.description%></td>
            <td class="px-4">$<%= offer.price%></td>
            <td class="px-4"><%= link_to "", offer_path(offer), class: "offer-link" %></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
