  <h1 class="text-center fw-light py-2"><%=@boardgame.name%></h1>
<div class="d-flex p-0 m-0 w-100">
  <div class="game-side col-6 bg-gradient p-3 m-0 overflow-auto vh-100 m-0">
    <h2 class="text-center fw-light">Game Details</h2>
    <ul class="list-unstyled">
      <li><%= image_tag @boardgame.poster, alt: "Poster", width: "100%", class: "rounded shadow-sm mb-2" %></li>
      <li class="d-flex gap-2"><i class="fa-solid fa-people-group align-middle"></i><span class="align-middle"><%=@boardgame.player_count%></span></li>
      <li class="d-flex gap-2"><i class="fa-solid fa-list align-middle"></i><span class="align-middle"><%=@boardgame.category%></span></li>
      <li class="d-flex gap-2"><i class="fa-solid fa-circle-info align-middle"></i><span class="align-middle"><%=@boardgame.description.gsub("&#10;&#10;", "<br/><br/>").gsub("&mdash;", "<br/>\n–").html_safe%></span></li>
    </ul>
  </div>
  <div class="py-4 col-6 overflow-auto vh-100">
    <h2 class="text-center">Available Offers for <%=@boardgame.name%></h2>
    <div class="d-flex justify-content-center">
      <%
=begin%>
 <thead>
        <tr>
          <th class="px-4" scope="col"><i class="fa-solid fa-link"></i></th>
          <th class="px-4" scope="col">Owner</th>
          <th class="px-4" scope="col">Image</th>
          <th class="px-4" scope="col">Condition</th>
          <th class="px-4" scope="col">Price</th>
        </tr>
      </thead>
<%
=end%>
      <div class="d-flex flex-column">
        <%@boardgame.offers.each do |offer|%>
          <div class= "d-flex offer-link-parent border rounded mb-4 px-2 w-100">
            <div>
              <div class="p-1 mx-auto align-content-center">
                <%= offer.user.name%>
                <%= offer.title%>
                $<%= offer.price.round%></div>
            </div>
            <div class="p-1 mx-auto align-content-center"><div class="btn-md btn btn-warning">See Description</div></div>
            <div class="p-1 mx-1 align-content-center"><%= cl_image_tag offer.photos[0].key, height: 120, class: "rounded border" %></div>
            <div class="px-2"><%= link_to "", offer_path(offer), class: "offer-link" %></div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
